[submodule "third_party/blend2d"]
	path = third_party/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = https://github.com/asmjit/asmjit.git
